/*---------------------------------------------------------------------------*/

#green
{
    -fx-background-color:
            linear-gradient(#f0ff35,#a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
   -fx-text-fill: #395306;
}

#green:hover
{
    -fx-background-color:
            linear-gradient(#a9ff00,#f0ff35),
            radial-gradient(center 50% -40%, radius 200%, #80c800 45%, #b8ee36 50%);
    -fx-background-radius: 6,5;
    -fx-background-insets: 0,1;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 0, 1);
   -fx-text-fill: #395306;

}

/*------------------------------------------------------------------------------------*/

#sale
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
             #9d4024,
             #d86e3a,
            radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#sale:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%,radius 100%,#ea7f4b,#c54e2c);
}

#sale:pressed
{
     -fx-padding: 10 15 13 15;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

/*-------------------------------------------------------------------------------------*/

#lion {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

#lion:hover {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

/*--------------------------------------------------------------------------------------------------*/
#bevel {
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#bevel:hover {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

/*--------------------------------------------------------------------------------------------------------*/

#blue {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
#blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
#blue:hover {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight:bold;
}


/*-------------------------------------------------------------------------------------------------------------*/

#line{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#035F85, #1385B4);
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#line:hover{     
  -fx-background-color: linear-gradient(#1385B4, #035F85);
  -fx-text-fill:white;
  -fx-font-weight:bold; 
 
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*
#signUpButton {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
#signUpButton:hover {
    -fx-background-color:
            linear-gradient(#e68400, #ffd65b),
            linear-gradient(#f2ba44, #ffef84),
            linear-gradient(#efaa22, #ffea6a),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

#logInButton {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
#logInButton:hover {
    -fx-background-color:
            linear-gradient(#e68400, #ffd65b),
            linear-gradient(#f2ba44, #ffef84),
            linear-gradient(#efaa22, #ffea6a),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

#red{

    -fx-background-color: linear-gradient(#ff5400,#be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

}
#red:hover{

    -fx-background-color: linear-gradient(#be1d00,#ff5400);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;

}

/*------------------------------------------------------------------------------------------------------------*/

#rnd{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
   -fx-border-color:null;
   -fx-background-color:green;
   -fx-background-radius: 0%;
}

#rnd:hover{     
  -fx-background-color: null;
  -fx-text-fill:green;
  -fx-font-weight:bold; 
  -fx-background-radius: 0%;
  -fx-border-color: green;
 
}

/*---------------------------------------------------------------------------------------------------------------*/

#but{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#but:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

/*--------------------------------------------------------------------------------------------------------------------------*/

#shiny_r {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
#shiny_r:hover {
    -fx-background-color:
            linear-gradient(#e68400, #ffd65b),
            linear-gradient(#f2ba44, #ffef84),
            linear-gradient(#efaa22, #ffea6a),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

/*normal buttons*/

.button{
    -fx-text-fill:  lightgreen;
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

.button:hover{     
  -fx-background-color:  lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}
/*
.button {
    -fx-background-color:
            #707070,
            linear-gradient(#fcfcfc, #f3f3f3),
            linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.button:hover {
    -fx-background-color:
            #3CB044,
            linear-gradient(#FBFFFA, #EBFDE9),
            linear-gradient(#E9FDEC 0%, #E1FDDA 49%, #C2FDBE 50%, #ACF6A7 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black;
    -fx-font-size: 15px;
}
/*
/*textfields*/
 .text-field{
	-fx-primary-color: #00CD00;
	-fx-secondary-color: #5CB04B;
	-fx-grey-color: #b9b9b9;
    
	-fx-focus-color: -fx-secondary-color;
}

.text-field {
	-fx-accent: -fx-primary-color;
	-fx-background-color: -fx-grey-color, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
}
.text-field:focused {
	-fx-background-color: -fx-primary-color, white;
}

/*separator*/
.separator:horizontal{
    -fx-border-color:rgb(160,160,160);
    -fx-border-width: 0.5;
}

/*menu button*/
#languageMenuB{
    -fx-background-color: transparent;
}

.menu-button{
    -fx-text-fill:  lightgreen;
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

.menu-button:hover{
    -fx-background-color:  lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}

/*aux menu button*/
.context-menu{
    -fx-background-color: white;
    -fx-effect: null;
}

.menu-item:focused{
    -fx-background-color: lightgreen;

}

/*login signup windows*/
#logInButton{
    -fx-text-fill:  lightgreen;
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

#logInButton:hover{     
  -fx-background-color:  lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}

#signUpButton{
    -fx-text-fill:  lightgreen;
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

#signUpButton:hover{     
  -fx-background-color:  lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}

/*possible table view
.table-view{
    -fx-border-color: rgb(130,135,144);
    -fx-background-color: white;
}

.table-view > column-header-background > nested-column-header > .arrow{
    -fx-shape:null;
}

.table-view > .column-header-background > .nested-column-header > .column-header{
    -fx-pref-height: 23px;
    -fx-border-color: rgb(213,213,213);
    -fx-border-width: 0 1 1 0;
    -fx-background-color:
        linear-gradient(to bottom, rgb(255,255,255) 0%, rgb(255,255,255) 40%, rgb(247,248,250) 41%, rgb(241,242,244) 100%);
}

.table-view > .column-header-background > .nested-column-header > .column-header:hover{
    -fx-border-color: transparent rgb(136,203,235) rgb(147,201,227) rgb(105,187,227);
    -fx-border-width: 0 1 1 1;
    -fx-background-color:
        linear-gradient(to bottom, rgb(227,247,255) 0%, rgb(227,247,255) 40%, rgb(189,237,255) 41%, rgb(183,231,251) 100%);
}

.table-view > .column-header-background > .nested-column-header > .column-header:pressed{
    -fx-translate-x: 1px;
    -fx-translate-y: 1px;
    -fx-border-color: rgb(134,163,178) rgb(79,144,174) rgb(147,201,227) rgb(80,145,175);
    -fx-border-width: 1;
    -fx-background-color:
        linear-gradient(to bottom, rgb(188,228,249) 0%, rgb(188,228,249) 40%, rgb(141,214,247) 41%, rgb(138,209,245) 100%);
}

.table-view > .column-header-background > .nested-column-header > .column-header > .label{
    -fx-translate-x: 4px;
    -fx-alignment: center-left;
}
*/