/*normal buttons*/

.button{
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

.button:hover{     
  -fx-background-color:  lightgreen;
  -fx-border-color: lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}

/*lateral menu buttons*/

.lateral-menu-buttons{
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

.lateral-menu-buttons:hover{     
  -fx-background-color:  lightgreen;
  -fx-border-color: lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}

#logOutButton:hover{
    -fx-background-color:lightcoral;
    -fx-border-color: lightcoral;
}

/*separator*/

.separator{
    -fx-background-color:#A0A0A0;
    -fx-border-color: black;
}

/*date picker*/


.date-picker .day-cell:hover {
   -fx-background-color: lightgreen;
}

.date-picker .day-cell:focused {
   -fx-background-color: lightgreen;
}


.date-picker .arrow-button {
   -fx-background-color: #E0E0E0;
}

.date-picker .arrow-button:hover {
   -fx-background-color: lightgreen;
}

.date-picker .arrow-button:focused {
   -fx-border-color: lightgreen;
   -fx-border-width: 2px;
    -fx-border-style: solid;
}

.date-picker .arrow-button:selected {
   -fx-border-color: lightgreen;
   -fx-border-width: 2px;
    -fx-border-style: solid;
}

.date-picker-popup > .month-year-pane {
    -fx-base: #A0A0A0 ;
    -fx-mark-highlight-color: lightgreen;
}

/*
/*textfields*/
 .text-field{
	-fx-primary-color: #00CD00;
	-fx-secondary-color: #5CB04B;
	-fx-grey-color: #b9b9b9;
    
	-fx-focus-color: -fx-secondary-color;
}

.text-field {
	-fx-accent: -fx-primary-color;
	-fx-background-color: -fx-grey-color, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
}
.text-field:focused {
	-fx-background-color: -fx-primary-color, white;
}

/*menu languages*/
#languageMenuB{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/*menu button*/
.menu-button{
    -fx-text-fill:  lightgreen;
   -fx-border-color: #E0E0E0;
   -fx-background-color:#E0E0E0;
   -fx-text-fill:black;
   -fx-font-size: 15px;
}

.menu-button:hover{
    -fx-background-color:  lightgreen;
  -fx-text-fill:black;
  -fx-font-size: 15px;
}

/*aux menu button*/
.context-menu{
    -fx-background-color: white;
    -fx-effect: null;
}

.menu-item:focused{
    -fx-background-color: lightgreen;

}

/*possible table view*/
.table-view > .column-header-background > .nested-column-header > .column-header{
    -fx-background-color:#E0E0E0
}

.table-view > .column-header-background > .nested-column-header > .column-header:hover{
    -fx-background-color:lightgreen;
}

